
<style>
    ul {
        background-color: #111;
        background-image: linear-gradient(#444, #111);
        border-radius: 6px;
        box-shadow: 0 1px 1px #777;
    }

    #menus li {
        width: 98%;
        float: left;
        border-right: 1px solid #222;
        box-shadow: 1px 0 0 #444;
        position: relative;
    }

    #menus a {
        color: #999;
        text-decoration: none;
        text-shadow: 0 1px 0 #000;
    }

    #menus li:hover > a {
        color: #fafafa;
    }
</style>

<ul id="menus" class="nav nav-pills nav-stacked">
    <li><a href="#">Cadastro 1</a></li>
    <li><a href="#">Cadastro 2</a></li>
    <li><a href="#">Cadastro 3</a></li>
    <li><a href="#">Cadastro 4</a></li>
    <li><a href="#">Cadastro 5</a></li>
    <li><a href="#">Cadastro 6</a></li>
    <li><a href="#">Cadastro 7</a></li>
    <li><a href="#">Cadastro 8</a></li>
    <li><a href="#">Cadastro 9</a></li>
    <li><a href="#">Cadastro 10</a></li>
    <li><a href="#">Cadastro 11</a></li>
    <li><a href="#">Cadastro 12</a></li>
</ul>
